@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kreon:wght@300;700&display=swap');

.remark-inline-code {
  font-size: 90%;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  color: #4c4a4a;
  background: #e9e9e9;
  border-radius: 8px;
  padding: 0 4px 1px;
}

.remark-code {
  font-size: 90%;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #4c4a4a;
  background: #e9e9e9;
  border-radius: 8px;
  padding: 0 4px 1px;
}

/*-- Line highlighting within code --*/
.remark-code-line-highlighted {
  background-color: #fdfda3;
}

.inverse {
  text-shadow: 0 0 0px #333;
}

figcaption {
  font-size: 14px;
  color: #808080;
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
}

credit {
  font-size: 14px;
  color: #808080;
  font-family: "PT Sans Caption", sans-serif;
  text-align: right;
}

.caption {
  font-size: 14px;
  color: #808080;
  font-family: "PT Sans Caption", sans-serif;
  text-align: center;
}

body {
  font-family: "Montserrat";
  line-height: 1.25;
  font-weight: 400;
}

/* Change link appearance */

a {
  color: #D55E00FF;
  border-bottom: 3px solid #D55E00FF;
  line-height: 2rem;
}

a:hover {
  border-bottom: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.gradient-underline {
    background-image: linear-gradient(rgb(116, 179, 206), rgb(116, 179, 206));
    background-repeat: no-repeat;
    background-position: 0 88%;
    background-size: 100% 0.1em;
    text-decoration: none;
}

.title-slide-custom .remark-slide-number {
  display: none;
}

.orange {
  color: #C25450
}

.title-slide {
  background-position: 50% 20%;
  background-size: 80%;
  background-color: #3c3c3c;
  font-size: 1em;
}


.title-slide h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3.5em;
  word-wrap: break-word;
  font-weight: 400;
  margin-bottom: -10px !important;
  color: #FFFFFF;
}

.title-slide h2 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 2em;
  color: #FFFFFF;
  text-transform: none;
}

.title-slide h3 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 2.5em;
  color: #C1C9D0;
  text-transform: none;
}

.title-slide a {
  color: #fff;
}

/* Hack to remove slide number on the title slide */
.title-slide .remark-slide-number {
  color: #3c3c3c;

}

.title-slide {
    padding: 2em;
    position: relative;
}

.title-slide p {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 100;
}

.inverse {
  background-color: #3c3c3c;
}

.inverse h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  word-wrap: break-word;
  font-weight: 400;
  margin-bottom: -10px !important;
  color: #FFFFFF;
}

.inverse h2 {
  font-family: 'Kreon', sans-serif;
  font-size: 2em;
  word-wrap: break-word;
  font-weight: 700;
  margin-bottom: -10px !important;
  color: #FFFFFF;
}

.inverse-two h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  word-wrap: break-word;
  font-weight: 400;
  margin-bottom: -10px !important;
  color: #3c3c3c;
}

.inverse-two {
  background-color: #D8E2DC;
}

blockquote p {
  color: #577590;
  font-family: 'Kreon', serif;
  font-size: 100%;
  font-style: italic;
}

.inverse blockquote p {
    color: #e9e9e9;
    font-family: 'Kreon', serif;
    font-size: 100%;
    font-style: italic;
    text-align: left;
}

.inverse blockquote {
  border-left: solid 8px #e9e9e9
}

blockquote {
  border-left: solid 8px #3A4856
}

.column-left {
    color: #777;
    width: 40%;
    height: 92%;
    float: left;
    line-height: 1.5em;
    margin-right: 0em;
}

.column-right {
    width: 60%;
    float: right;
    padding-top: 1em;
    margin: -5em;
}

.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
    background: #e9e9e9;
}

#container > div {
  padding: 30px;
  display: inline-block;
  vertical-align: top;
  horizontal-align: center;
  white-space:nowrap;
}

/*
.image-row {
    text-align: center;
}
.image-box {
    width: 20%;
    padding: 1%;
    margin: .5%;
    display: inline-block;
    font-size: 0;
}
.image-box img {
    max-width: 100%;
}
*/

b, strong {
  font-weight: 600;
}
